@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Quicksand, Helvetica, sans-serif;
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
}
.imageMath{
  width: 130%;
  

}
.imageMath2{
  width: 200%;
  height: 100%;
  

}
.imageMath3{
  width: 300%;
  

}
.column{
  float:middle;

  width:24%;
  margin: 20px 5%;
  height: 80%;

  background-color:transparent;
}
.column4{
  float:middle;

  width:24%;
  margin: 20px 5%;
  height: 80%;

  background-color:transparent;
}
.column2{
  float:middle;
  width:24%;
  margin: 20px 4%;
  height: 80%;
  background-color:transparent;
}
.column3{
align-items: center;
  width:24%;
  margin: 30px 20%;
  height: 80%;
  background-color:transparent; 

}
.base{
  margin-left: 0px;
}
.wrap {
  position: relative;
}

.slide{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.slide1 {

}
.slide2 {
 
}
.slide3 {

}


.slide-content {
  display: flex;
  flex-direction: row;
/*  justify-content: center;*/
/*  align-items: center;*/
/*  text-align: center;*/
}


.slide-content span {
  padding-top: 20px;  
  font-size: 5rem;
  color: #000000;

}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}
.slide-content2 {
  display: flex;
  flex-direction: row;
/*  justify-content: center;
  align-items: center;
  text-align: center;*/
}


.slide-content2 span {
  padding-top: 20px;  
  font-size: 5rem;
  color: #ff0000;

}
.slide-content2 {
  margin: 0;
  padding: 0;
  font-family: Quicksand, Helvetica, sans-serif;
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #000000 transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #000000;
  right: 0;
  margin-right: 30px;
}
/* Contact */

.contact-form input[type="text"] {
    width: 20%;
}
.contact-form{
padding-top: 60px;
}
.contact-form input, .contact-form textarea, .contact-form select {
    background: transparent;
    outline: none;
    font-family: "Quicksand", sans-serif;
    -webkit-appearance: none;
    color: inherit;
    border-width: 1px;
    border-style: solid;
    padding: 9px 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
  
.contact-form textarea {
    float: left;
    resize: none;
    height: 140px;
    border-bottom: 0;
    margin-bottom: 0;
}


.contact-form .input-error {
    border-color: #ed5555;
}

.contact-form .contact-notice {
    font-size: 16px;
}


.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    color: inherit;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

.contact-form :-moz-placeholder {
    color: inherit;
    opacity: 1;
}

.contact-form ::-moz-placeholder {
    color: inherit;
    opacity: 1;
}

.contact-form :-ms-input-placeholder {
    color: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: inherit;
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
}

::-moz-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-item {
    font-size: 16px;
    margin-bottom: 0;
}












